

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
    }

  body{
      background-color: rgb(250, 248, 245);
      overflow-x: hidden;
      box-sizing: border-box;
  }

.navbar{
    width: 100vw;
    color: red;
    display: flex;
    justify-content: space-between;
    height: 10vh;    
    align-items: center;
    border-bottom: solid red 1px;
  }
  nav .logo{
    font-weight: bold;
  }

  .navbar button {
   border: none;
   background: none;
   color: red;
   font-style: italic;
   padding: 0 5%;
  }
  
 .menu.visible{
    display: block;
 }


 .menu {
    display: none; 
    position: absolute;
    width: 100%;
    background-color:rgb(255, 254, 252) ;
  }

  .menu li {
    padding: 30px 50px ;
    border: solid 1px  red;
    display: flex;
    justify-content: space-between;
    order: 1;
}

.menu a {
    color: red;
    font-style: italic;
    font-size: 3.5em;
}

.menu i {
    color: red;
    font-size: 3.5em;
    transition: transform 0.7s ease;
    order: 3;
}

.submenu {
    display: none;
    order: 2;
}

.submenu li {
    padding: 5px;
    border: none;
}

.submenu li a {
    color: white;
    font-size: 1.2em;
}

.menu-actif {
    background-color: red;
    transition: 0.7s ease-in;
}

.menu-actif a{
color: white;
}
.menu-actif i {
    color: white;
    transition: transform 0.7s ease;
}

.section_links {
    padding: 5vh 5vh 0 5vh;
    color: #e63936b3;
    
}

section.section_links a {
    padding: 0 5px;
    font-size: 0.8em;
    color: #e63936;
    font-style: italic;
}
.section_links div.links {
    display: flex;
}

.section_article {
display: flex;
justify-content: center;
}
.articles-container {
    width: 95vw; 
   
}

.articles-list {
    width: 100%;
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    justify-content: center;
    justify-items: center;
    
}

.article-card {
    padding-top:8vh ;
    width: 100% ;
    height: 90vh;
    overflow: hidden;
    justify-items: center;
    border: solid 1px #e6393682;
}

.article-card-container{
    width: 70%;
}
.article-card img:hover {
    transform: scale(1.08);
    transition: 0.4s ease ;
}
.article-type{
    background-color: #e63936;
    color: rgb(250, 248, 245);
    text-transform: uppercase;
    width: 35%;
    height: 25px;
   padding: auto;

}
.article-card img {
    width: 100%;
    height:20%;
    max-height: 30vh;
    object-fit: cover;
}

.article-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #e63936;
    word-wrap: break-word;
}

.article-excerpt {
    font-size: 1.2rem;
    color: #e63936d7;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    word-wrap: break-word;
  
}

.article-card a {
    text-decoration: none;
    color: inherit;

}
.read_more {
    padding: 10px 0;
    color: #e63936;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}


.footer {
    background-color:  #e63936;
    color: white;
    width: 100vw;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25vh;
}
.footer h2{
    padding: 30px 0;
    color:#e63936 ;
    text-transform: uppercase;
    font-style: italic;
    font-size: 4em;
    text-shadow: 
    1px 1px 0px #FFFFFF, 
    -1px -1px 0px #FFFFFF, 
    1px -1px 0px #FFFFFF, 
    -1px 1px 0px #FFFFFF;
}

.footer form {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px white;
}
.footer-form input{
    background-color: #e63936;
    border: none;
    color: white;
    outline: none;
}
.footer input::placeholder {
    color: white;
}

.footer button {
    border: none;
    background-color:white;
    padding: 7px 30px;
    border-radius: 15px;
    color:#e63936;
    font-style: italic;
}
.footer .left{
    padding-left: 50px;

}
.footer .right {
    display: flex;
    padding-right: 10vw;
    padding-top: 30px;
}
.right ul {
    padding: 0 30px;
}
.right li{
    color: white;
    padding: 10px;
}

.social-links {
    border-top: solid 1px white ;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-links a {
    color: white;
    font-style: italic;
    

}